{{>layout/header}}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">고객</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/customer">Home</a></li>
            <li class="breadcrumb-item ">Customer</li>
            <li class="breadcrumb-item active">Add</li>
        </ol>
        <div class="card mb-4">
            <div class="col-md-12">
                <div class="col-md-4">
                    <form>
                        <div class="form-group">
                            <label for="title">이름</label>
                            <input type="text" class="form-control" id="name" placeholder="이름을 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="title">전화번호</label>
                            <input type="text" class="form-control" id="phone" placeholder="전화번호를 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="title">주소</label>
                            <input type="text" class="form-control" id="address" placeholder="주소를 입력하세요">
                        </div>
                    </form>
                    <a href="/customer" role="button" class="btn btn-secondary">취소</a>
                    <button type="button" class="btn btn-primary" id="btn-save">등록</button>
                </div>
            </div>

        </div>
    </div>
</main>
<script src="/js/app/customer-save.js" defer></script>
{{>layout/footer}}